.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 4rem;
  margin-top: 0;

  border-radius: 10.724px;
  border: 1px solid #000;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cta__content p {
  color: #0e0e0e;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

.cta__content h3 {
  color: #000;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 45px;
}

.cta__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.cta__btn button {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 40px;
  background: #000;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
    .cta{
        flex-direction: column;
    }

    .cta__btn{
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px){
    .cta{
        margin: 4rem 2rem;
    }

    .cta__content h3{
        font-size: 18px;
        line-height: 32px;
    }

    .cta__btn button{
        font-size: 14px;
        line-height: 28px;
    }
}