.header {
  display: flex;
  flex-direction: row;
  padding: 0 6rem;
}

.header__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.header__content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  font-style: normal;
  line-height: 75px;
  letter-spacing: -2.48px;
}

.header__content-subcontent {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 1.5rem;
}

.header__content-input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.header__content-input input {
  background: var(--color-footer);
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  flex: 2;
  width: 100%;
  min-height: 50px;
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__content-input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  background: #ff4820;
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__content-people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.header__content-people img {
  width: 181.79px;
  height: 38px;
}

.header__content-people p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 37.611px;
  margin-left: 1rem;
  text-align: center;
}

.header__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__image img{
    width: 100%;
    height: 100%;
}

/* ========================= BREAKPOINTS =========================== */

/* ==================== FOR LARGE DEVICES ============================= */
@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }

  .header__content {
    margin: 0 0 0 3rem;
  }
}

/* ==================== FOR MEDIUM DEVICES ============================= */
@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .header p {
    font-size: 16px;
    line-height: 24px;
  }

  .header__content-people {
    flex-direction: column;
  }

  .header__content-people p {
    margin: 0;
  }

  .header__content-input input,
  .header__content-input button {
    font-size: 16px;
    line-height: 24px;
  }
}

/* ==================== FOR SMALL DEVICES ============================= */
@media screen and (max-width: 490px){

    .header__content {
        margin: 0;
      }
    .header h1 {
        font-size: 36px;
        line-height: 48px;
      }
    
      .header p {
        font-size: 14px;
        line-height: 24px;
      }

      .header__content-input input,
      .header__content-input button {
        font-size: 12px;
        line-height: 16px;
      }

      .header__image img{
        
      }
}